In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('heart.csv')

In [3]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
df.shape

(303, 14)

In [6]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [7]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [8]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [9]:
missing_value = (df[['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal']]==0).sum()

In [10]:
missing_value

age           0
sex          96
cp          143
trestbps      0
chol          0
fbs         258
restecg     147
thalach       0
exang       204
oldpeak      99
slope        21
ca          175
thal          2
dtype: int64

In [ ]:
print(df.info())

In [ ]:
plt.figure(figsize=(20,10))
sns.heatmap(df.corr(), annot = True, cmap = 'terrain')

In [ ]:
sns.pairplot(data=df)

In [ ]:
df.hist(figsize=(12,12), layout=(5,3));

In [ ]:
# Box and whiskers plot
df.plot(kind = 'box' , subplots = True, layout = (5,3), figsize = (12,12))
plt.show()

In [ ]:
sns.catplot(data=df, x = 'sex' , y = 'age', hue = 'target', palette = 'husl')

In [ ]:
sns.barplot(data=df, x = 'sex' , y = 'chol', hue = 'target', palette = 'spring')

In [ ]:
df['sex'].value_counts()

In [ ]:
df['target'].value_counts()

In [ ]:
df['thal'].value_counts()

In [ ]:
sns.countplot(data=df, x = 'sex' , hue = 'target', palette = 'husl')

In [ ]:
sns.countplot(x='target', palette = 'BuGn', data=df)

In [ ]:
sns.countplot(x = 'ca', hue = 'target', data=df)

In [ ]:
df['ca'].value_counts()

In [ ]:
sns.countplot(x='thal',data=df,hue='target',palette='BuPu')

In [ ]:
sns.countplot(x='thal', hue='sex', data = df, palette ='terrain')

In [ ]:
df['cp'].value_counts()

In [ ]:
sns.countplot(x='cp', hue = 'target', data=df, palette='rocket')

In [ ]:
sns.countplot(x='cp', hue = 'sex', data=df, palette = 'BrBG')

In [ ]:
sns.boxplot(x = 'sex', y='chol', hue = 'target', palette = 'seismic', data=df)

In [ ]:
sns.barplot(x='sex', y='cp', hue = 'target', data = df, palette='cividis')

In [ ]:
sns.barplot(x='sex', y='thal', hue = 'target', data = df, palette='nipy_spectral')

In [ ]:
sns.barplot(x='target', y='ca', hue = 'sex', data = df, palette='mako')

In [ ]:
sns.barplot(x='sex', y='oldpeak', hue = 'target', data = df, palette='rainbow')

In [ ]:
df['fbs'].value_counts()

In [ ]:
sns.barplot(x='fbs', y='chol', hue = 'target', data = df, palette='plasma')

In [ ]:
sns.barplot(x='sex', y='target', hue = 'fbs', data = df)

In [ ]:
gen = pd.crosstab(df['sex'], df['target'])
print(gen)

In [ ]:
gen.plot(kind = 'bar',stacked = True, color=['green','yellow'],grid = False)

In [ ]:
temp=pd.crosstab(index=df['sex'],
            columns=[df['thal']], 
            margins=True)
temp

In [ ]:
temp.plot(kind="bar",stacked=True)
plt.show()

In [ ]:
temp=pd.crosstab(index=df['target'],
            columns=[df['thal']], 
            margins=True)
temp

In [ ]:
temp.plot(kind='bar', stacked=True)
plt.show()

In [ ]:
chest_pain = pd.crosstab(df['cp'], df['target'])
chest_pain

In [ ]:
chest_pain.plot(kind='bar', stacked=True, color=['purple','blue'], grid=False)

# Scaling the data

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
StandardScaler = StandardScaler()  
columns_to_scale = ['age','trestbps','chol','thalach','oldpeak']
df[columns_to_scale] = StandardScaler.fit_transform(df[columns_to_scale])

In [ ]:
df.head()

In [ ]:
X= df.drop(['target'], axis=1)
y= df['target']

In [ ]:
X_train, X_test,y_train, y_test=train_test_split(X,y,test_size=0.3,random_state=40)

# Check the sample Size

In [ ]:
print('X_train-', X_train.size)
print('X_test-',X_test.size)
print('y_train-', y_train.size)
print('y_test-', y_test.size)

# Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()

model1=lr.fit(X_train,y_train)
prediction1=model1.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix

cm=confusion_matrix(y_test,prediction1)
cm

In [ ]:
sns.heatmap(cm, annot=True,cmap='BuPu')

In [ ]:
TP=cm[0][0]
TN=cm[1][1]
FN=cm[1][0]
FP=cm[0][1]
print('Testing Accuracy:',(TP+TN)/(TP+TN+FN+FP))

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,prediction1)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, prediction1))

# Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier

dtc=DecisionTreeClassifier()
model2=dtc.fit(X_train,y_train)
prediction2=model2.predict(X_test)
cm2= confusion_matrix(y_test,prediction2)

In [ ]:
cm2

In [ ]:
accuracy_score(y_test,prediction2)

In [ ]:
print(classification_report(y_test, prediction2))

# Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rfc=RandomForestClassifier()
model3 = rfc.fit(X_train, y_train)
prediction3 = model3.predict(X_test)
confusion_matrix(y_test, prediction3)

In [ ]:
accuracy_score(y_test, prediction3)

In [ ]:
print(classification_report(y_test, prediction3))

In [ ]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [ ]:
from sklearn.svm import SVC

svm=SVC()
model4=svm.fit(X_train,y_train)
prediction4=model4.predict(X_test)
cm4= confusion_matrix(y_test,prediction4)

In [ ]:
cm4

In [ ]:
accuracy_score(y_test, prediction4)

In [ ]:
from sklearn.naive_bayes import GaussianNB

NB = GaussianNB()
model5 = NB.fit(X_train, y_train)
prediction5 = model5.predict(X_test)
cm5= confusion_matrix(y_test, prediction5)

In [ ]:
cm5

In [ ]:
accuracy_score(y_test, prediction5)

In [ ]:
print('cm4', cm4)
print('-----------')
print('cm5',cm5)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

KNN = KNeighborsClassifier()
model6 = KNN.fit(X_train, y_train)
prediction6 = model6.predict(X_test)
cm6= confusion_matrix(y_test, prediction5)
cm6

In [ ]:
print('KNN :', accuracy_score(y_test, prediction6))
print('lr :', accuracy_score(y_test, prediction1))
print('dtc :', accuracy_score(y_test, prediction2))
print('rfc :', accuracy_score(y_test, prediction3))
print('NB: ', accuracy_score(y_test, prediction4))
print('SVC :', accuracy_score(y_test, prediction5))

# Best accuracy is given by Logistic Regression : 92%                              followed by NB and Decision tree : 90